-o "videos/%(id)s/%(title)s.%(ext)s"
# To reduce output video filesize, use the following instead to limit to [height<1080][fps<?60]
#-f 'best[height<1080][fps<?60]' -o "videos/%(id)s/%(title)s.%(ext)s"
--user-agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
--quiet
